h1 {
   font-style: 30px;
   color: red;
}
div {
   font-size: 50px;
   color: green;
}

p {
   font-weight: 700;
}

.text {
   background-color: pink;
   padding: 10px;
   color: black;
}
.text2 {
   font-style: 40px;
   color: brown;
}
